
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" 
          	{% if filter_records.verified %}class="alert-success"{% else %}class="alert-warning"
          	{% endif %} id="notes-header{{filter}}" href="#collapse{{filter}}">Click to see notes on {% if filter_name %}{{filter_name}} {% endif %}({{filternumber}})</a>
      </div>
     <div id="collapse{{filter}}" class="panel-collapse collapse">
        <form class="form-vertical" id="myform{{filter}}" name="myform{{filter}}" method="post">
        	 {% csrf_token %}
							<div class="form-group has-feedback">
    							<label class="control-label">Name:</label>
		          		<input type="text" class="form-control" id="name{{filter}}" label="Name:" name="name" value="{{filter_records.name}}" readonly>
          		{% if filter_records.verified %}
          		<i id="namelabel{{filter}}" class="glyphicon glyphicon-ok form-control-feedback"></i>
          		{% else %}
          		<i id="namelabel{{filter}}" class="glyphicon glyphicon-question-sign form-control-feedback"></i>
          		{% endif %}
							</div>
							<div class="form-group">
								<label class="control-label">Name Source:</label>
		          		<input type="text" class="form-control alert-warning" id="name_source{{filter}}" name="name_source" value="{{filter_records.name_source}}" readonly>
						  </div>
							<div class="form-group">
								<label class="control-label">Possible name:</label>
		          		<input type="text" class="form-control alert-warning" id="name_possible{{filter}}" name="name_possible" value="{{filter_records.name_possible}}" readonly>
						  </div>
						<div class="form-group">
						  	<label class="control-label">Notes:</label>
						  	<input type="text" class="form-control" name="notes" id="notes{{filter}}" label="Notes:" value="{{filter_records.notes}}" readonly>
						</div>
						  <input type="hidden" name="record-ID" value="{{filter_records.id}}" />
						  <input type="hidden" name="original_ID" value="{{filter_records.original_ID}}" />
						  <input type="hidden" name="number" value="{{filternumber}}" />
							<label for='verified{{filter}}'>Verified:</label>
							<select id="verified{{filter}}" name="verified{{filter}}" disabled>
								<option value=1 {% if filter_records.verified %}selected='selected'{%endif%}>Yes</option>
								<option value=0 {% if not filter_records.verified %}selected='selected'{%endif%}>No</option>
							</select> <br>
					<label class="form-check-label" for="exampleCheck1">Personal </label>
					<input type="checkbox" class="form-check-input" id="personalcheck{{filter}}" {%  if filter_records.personal%}checked{%endif%} disabled>

							&nbsp;&nbsp;Original Database ID: {{filter_records.original_ID}}
             <span class="pull-right">
                <span class="btn btn-xs btn-default" id="action-button{{filter}}">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  <span id="button-text{{filter}}">Edit</span>
             </span>
             </span>
             <span id='form-errors-{{filter}}' style="color:red"></span>
             
          </div><!--/li-->
            
		</form>
            <script>      
            (function() {	
            	document.getElementById("action-button{{filter}}").addEventListener('click', editform{{filter}});
              function editform{{filter}}() {

              var btnText{{filter}} = document.getElementById('button-text{{filter}}').innerHTML;
              if(btnText{{filter}} == 'Edit')
              {

              document.getElementById('name{{filter}}').readOnly = false;
              document.getElementById('name_source{{filter}}').readOnly = false;
              document.getElementById('notes{{filter}}').readOnly = false;
              document.getElementById('name_possible{{filter}}').readOnly = false;
              document.getElementById('verified{{filter}}').disabled = false;
              document.getElementById("action-button{{filter}}").innerHTML='<span class="glyphicon glyphicon-save" aria-hidden="true"></span><span id="button-text{{filter}}">Save</span>';
              document.getElementById('personalcheck{{filter}}').disabled = false;
              }
              else
              {            
                  //alert ("Silly alert!");
                  document.getElementById('name{{filter}}').readOnly = true;
                  document.getElementById('name_source{{filter}}').readOnly = true;
                  document.getElementById('notes{{filter}}').readOnly = true;
                  document.getElementById('name_possible{{filter}}').readOnly = true;
                  document.getElementById('verified{{filter}}').disabled = true;
    
                  document.getElementById("action-button{{filter}}").innerHTML='<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span id="button-text{{filter}}">Edit</span>';
                  document.getElementById('personalcheck{{filter}}').disabled = true;
                  
                  if (document.getElementById('personalcheck{{filter}}').checked==true)
                  { var personaltext='&personal=true' 
                  	}
                  else {
                  var personaltext='&personal=false'
                  };
                  
                  var selecttext = document.getElementById('verified{{filter}}').value;
                  var dataform=$('#myform{{filter}}').serialize();
                  dataform=dataform+'&verified='+selecttext+personaltext;
                  //alert(dataform);
                  $.post( '/whatsapp/ajax/post_namefile',dataform, function(data) {
                      if (data.saved==false) {
                   //console.log(data.message);
                   document.getElementById("form-errors-{{filter}}").innerHTML='<p>Errors found:<p> '+data.message;
                   alert('Failed to save');
                     }
                     else {
                         document.getElementById("form-errors-{{filter}}").innerHTML='';
                     };
                      if (data.verified==true){
   
                      //alert ('verified true');
                      //var temp1=document.getElementById("namelabel{{filter}}").className;
                      //alert(temp1);
                      document.getElementById("namelabel{{filter}}").classList.remove("glyphicon-question-sign");
                      document.getElementById("namelabel{{filter}}").classList.add("glyphicon-OK");
                      document.getElementById("notes-header{{filter}}").classList.remove("alert-warning");
                      document.getElementById("notes-header{{filter}}").classList.add("alert-success");
                      };

                      if (data.verified==false){
                      //alert ('verified true');
                      //var temp1=document.getElementById("namelabel{{filter}}").className;
                      //alert(temp1);
                      document.getElementById("namelabel{{filter}}").classList.remove("glyphicon-OK");
                      document.getElementById("namelabel{{filter}}").classList.add("glyphicon-question-sign");
                      
                      document.getElementById("notes-header{{filter}}").classList.remove("alert-success");
                      document.getElementById("notes-header{{filter}}").classList.add("alert-warning");
                      }
                  //... do something with response from server
                  },
                 'json' // I expect a JSON response
                  );
              }
             }
             })();
    </script>

      
    </div>
  </div>



