.*
!.gitignore

# ignore python bytecode
*.pyc

# ignore the virtual environment
venv/

# ignore the ICIJ extract engine for now
extract-master/

# ignore logs
wwwsearch/logfile*

#ignore scraper for now
#wwwsearch/scraper*

# ignore user settings - put defaults into usersettings.config.example
wwwsearch/usersettings.config

# ignore database - it should be recreated
wwwsearch/db.sqlite3

# ignore Solr data and PID files
solr/solr-*/server/solr/*/data/*
!solr/solr-*/server/solr/coreexample/data/*
solr/solr-*/bin/solr-*.pid
solr/solr-*/server/solr/*
solr/solr-*/server/logs/*
!solr/solr-*/server/solr/coreexample/

.DS_Store
wwwsearch/ownsearch/static/2scan/*
wwwsearch/ownsearch/static/files/*
wwwsearch/documents/.DS_Store
wwwsearch/documents/.DS_Store
temp.txt
wwwsearch/ownsearch/.DS_Store
wwwsearch/ownsearch/.DS_Store
tools/ocr.py
wwwsearch/ownsearch/static/sample.pdf
wwwsearch/static/sample.pdf
wwwsearch/ownsearch/.DS_Store
wwwsearch/documents/.DS_Store
wwwsearch/ownsearch/.DS_Store
wwwsearch/ownsearch/.DS_Store
*.bak
wwwsearch/documents/.DS_Store
wwwsearch/whatsapp.json
solr/solr-7.2.0/server/solr/coreexample/data/tlog/tlog.0000000000000000403
wwwsearch/documents/.DS_Store
