#ignore python binaries
*.pyc

#ignore the python environment for now
env/

#ignore the ICIJ extract engine for now
extract-master/
master.zip

#ignore logfile
wwwsearch/logfile

#ignore usersettings - put defaults into usersettings.config.example
wwwsearch/usersettings.config

#ignore the database - it should be recreated
wwwsearch/db.sqlite3

#EXCLUDE solr installation >>> PUT another gitignore in data directory
solr-6.6.0/
!solr/solr-6.6.0/

#ignore mac folder configs
.DS_Store

.DS_Store
wwwsearch/.DS_Store
wwwsearch/documents/.DS_Store
.DS_Store
solr/solr-6.6.0/bin/solr-8983.pid
.DS_Store
