{% extends "base.html" %}
{% block body_content %}

<h3>Document Collections</h3>

<form action="{% url 'docs_index'%}" method ="post">
{% csrf_token %}
Index:{{form.corechoice}}<p>
</form>

<form action="{% url 'listfiles'%}" method ="post">
{% csrf_token %}

{% for collection in latest_collection_list %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ collection.id }}" />
    <label for="choice{{ forloop.counter }}">{{ collection.path }}</label><br />
{% endfor %}
<p>
<input type="submit" name="list" value="List Files" /> lists files stored in database<p>

File database functions:<p>
<input type="submit" name="scan" value="Scan Files" /> update file database from disk<p>
<input type="submit" name="solrcursor" value="Check Solr Index" />  check if files indexed in solr
<p>
Extract data:
<p>
<input type="submit" name="index" value="Index Files" />  simple file extract into solr index<p>
<input type="submit" name="index-retry" value="Index Retry"/> file extract with force retry<p>
<input type="submit" name="indexICIJ" value="Index Files w ICIJ 'Extract' tool (force retry)" /><p>
<input type="submit" name="indexICIJ_NO_OCR" value="Index Files w 'Extract' tool (no OCR / force retry)" />
<p><p><p>
More Functions:<p>
<p>
<input type="submit" name="dupscan" value="Scan for and remove duplicates" />
<input type="submit" name="path-check" value="Convert paths to relatives links" />
</form>

{% endblock %}
