<html>
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

{% block title %}<title>SearchBox</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap1.min.css' %}" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
--> <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<script src="{% static 'js/jquery-ui.js' %}"></script>

<div class="container">
<div class="row" style="background: lightblue; padding: 5px">
</head>
<h2><a class='no-deco' style="color:white" href="/ownsearch/">SearchBox</a></h2>

<!--<a href="{% static 'Squirrel.jpg' %}">test picture</a>
-->
{% if user.is_authenticated %}


<div class='login'><span class='solr_check' id="solr_check"></span>   Logged in as: {{ user.username }}  <a href="{% url 'logout' %}?next=/ownsearch/"">[logout]</a>
</div>
</div>

    <div class="row" style="padding: 10px">
	      <div class="col-sm-3">
					
					{% block sidebar %}
					      <ul class="sidebar-nav">
					      </ul>
					{% endblock %}
	      </div>
	    {% block maincontent %}
	      <div class="col-sm-9 ">
	      {% block top_content %}{% endblock %}
	      {% block user_tags %}{% endblock %}
	      {% block embed_content %}{% endblock %}
	      {% block body_content %}{% endblock %}
	      {% block footer_content %}{% endblock %}
	      </div>
	    {% endblock %}
    </div>

  </div>
{% block javascript %}

{% endblock %}
{% else %}
    <p>Welcome, Guest <a href="{% url 'login' %}?next=/ownsearch"">[login]</a></p>
{% endif %}

{% comment %}
modified log-in code from: https://rayed.com/wordpress/?p=1350
 {% endcomment %}

<script>
(function() {
	$.get( '/ownsearch/ajax/check_solr', function(data) 
		{
    if (data.error==true){
    	document.getElementById("solr_check").innerHTML="Index OFFLINE "
    	document.getElementById("solr_check").style.color="red"	
    	console.log(data.message);
    }
    else
    {
    	if (data.solr_up==true){
    		document.getElementById("solr_check").style.color="green"
    		document.getElementById("solr_check").innerHTML="CONNECTED "	
    	};
    };
     },
                 'json' // I expect a JSON response
                  );
})();



</script>

</html>

