{% extends "base.html" %}
{% block content %}

{% comment %}
This is a comment section
{% for scraplist in highlight%}
<b>{{scrap1}}{{scrap2}}</b>
{% endfor %}
{{scraplist|linebreaksbr}}

{{highlight.0.0.3}}
<b>{{highlight.1.0}}</b>
{{highlight.1.1}}

<p>
{{teststring}}
{%for a,b in teststring%}<b>{{a}}</b>{{b|linebreaksbr}}{%endfor%}<p>


{% endcomment %}

{% if highlights %} <h3>Extracted Text - highlights</h3>
<b>{{docname}}</b>
<p>PATH: {{docpath}}&emsp; SIZE(bytes):{{docsize}}<p>
<!--DIRECT FROM APACHE--<a href="/docstore/{{docpath}}"><b>Download</b></a>	-->

{% if docexists%}<a href="/ownsearch/download={{docpath}}"<b>Download</b></a><p>
{% endif %}

{% for highlight in highlights%}
<p><i>Snippet:</i><p>
{% for a,b in highlight %}
<b>{{a}}</b>{{b|linebreaksbr}}
{% endfor %}
<p>
{% endfor %}
{% endif %}

{% endblock %}
