{% extends "base.html" %}
{% block content %}

{% comment %}
DISPLAY SNIPPETS OF TEXT FROM LARGE FILE
{% endcomment %}

{% if page.highlight %} <h3>Extracted Text - highlights</h3>
<b>{{page.docname}}</b>
<p>PATH: {{page.docpath}}&emsp; SIZE(bytes):{{page.docsize}}<p>

{% if page.authflag%}<a href="/ownsearch/download={{page.matchfile_id}}&{{page.hashfilename}}"<b>Download</b></a><p>
{% endif %}

{% for highlight in page.highlight%}
<p><i>Snippet:</i><p>
{% for a,b in highlight %}
<b class='highlight'>{{a}}</b>{{b|linebreaksbr}}
{% endfor %}
<p>
{% endfor %}
{% endif %}

{% endblock %}
