{% extends "base.html" %}

	{% block sidebar %}
	<a href="{{page.searchurl}}">Back to Results</a>
		{% endblock %}

{% block content %}
{% comment %}
{% endcomment %}

{% if page.splittext %} <h3>Extracted Text</h3>
{% if page.result.data.title  %}
<br><b><h2>Title:</b>{{page.result.data.title}}</h2><br>
{% endif %}
{% if page.result.data.message_from  %}
<b>From:</b> {{page.result.data.message_from}} <b><br>To:</b> {{page.result.data.message_to}}
{% endif %}
<br>PATH: {{page.docpath}}&emsp; SIZE(bytes):{{page.docsize}}<br>
<!--DIRECT FROM APACHE--<a href="/docstore/{{docpath}}"><b>Download</b></a>	-->
<b>Filename: {{page.docname}}</b> 
<form action="" method="post"> {% csrf_token %}
&nbsp; 
{% if page.useredit %}
	{{form.keywords.label}}{{form.keywords}}
<button type="submit" name='save' value='Save' class="btn btn-default btn-sm">
   <span class="glyphicon glyphicon-pencil">Save</span>
</button>
{% else %}<br>
 User tags:<span class='tag'> 
 	{% if page.initialtags %}
 		{% for tag in page.initialtags %}
 			{{ tag }}, 
 		{% endfor %}
 	{% endif %}</span>
<button type="submit" name='edit' value='Edit' class="btn btn-default btn-sm">
   <span class="glyphicon glyphicon-pencil">Edit</span>
</button>
{% endif %}
	</form>
{% if page.authflag%}<a href="/ownsearch/download={{page.matchfile_id}}&{{page.hashfilename}}"<b>Download</b></a><p>
{% endif %}
{% for text_snippet in page.splittext %}
{{text_snippet|linebreaksbr}}</pre><b class="highlight">{{page.searchterm}}</b>
{% endfor %}
{{page.last_snippet}}
{% endif %}

{% endblock %}
