{% extends "base.html" %}

{% block sidebar %}
	<a href="{{page.searchurl}}">Back to Results</a>
	<p><p>
	{% if page.docpaths.1%}
	Identical docs:<p>
		{% for path in page.docpaths%}
			{{path}}<p>
		{%endfor%}
	{% endif %}	
{% endblock %}

{% block top_content %}

BROWSE MEDIA VOLUME:
<ol class="breadcrumb" >
{% if page.this_user.is_staff and page.relpath_valid %}
  <li><a href="/documents/files"  style="color:red;">Home</a></li>
{% else %}Home /
{% endif %}

{% for fullpath,relpath,basename,hash in page.path_tags %}  

{% if page.this_user.is_staff and page.path_exists%}
  <li><a href="/documents/files/{{fullpath}}"  style="color:red;">{{basename}}</a></li>
{% else %}
  <li>{{basename}}</li>
{% endif %}
{% endfor %} 
</ol>

SOLR SEARCH
<ol class="breadcrumb">
<!--{% if page.this_user.is_staff and page.relpath_valid %}
  <li><a href="/documents/indexedfiles">Home</a></li>
{% else %}Home /
{% endif %}
-->
{% for fullpath,relpath,basename,hash in page.path_tags %}  

{% if page.this_user.is_staff%}
  <li><a href="/documents/indexedfiles/{{fullpath}}">{{basename}}</a></li>
{% else %}
  <li>{{basename}}</li>
{% endif %}
{% endfor %} 
</ol>


	{% if page.result.data.message_from  %}
		<h3>Email <b>From:</b> {{page.result.data.message_from}} <b><br>To:</b> {{page.result.data.message_to}}</h3>
	{% endif %}
	{% if page.result.data.title  %}
		<b><h3>Subject:</b><span class="titlename">{{page.result.data.title}}</span></h3>
	<h4>{{page.datetext}}</h4>
	<br>SIZE(bytes):{{page.docsize}}<br>
	<!--DIRECT FROM APACHE--<a href="/docstore/{{docpath}}"><b>Download</b></a>	-->
	<b><span >{{page.docname}}</span></b>

	{% else %}
	<h5>Date: {{page.datetext}} &nbsp; &nbsp; Size(bytes): {{page.docsize}}</h5>

	<!--DIRECT FROM APACHE--<a href="/docstore/{{docpath}}"><b>Download</b></a>	-->
	<b><span class="titlename" >{{page.docname}}</span></b>
		{% endif %}	
	
	{% if page.authflag%}<a href="/ownsearch/download={{page.matchfile_id}}&{{page.hashfilename}}"<b>&nbsp; &nbsp;Download</b></a><p>
	{% endif %}


{% endblock %}

{% block user_tags %}
<form action="" method="post"> {% csrf_token %}
&nbsp; 
{% if page.useredit %}
		{{form.keywords.label}}{{form.keywords}}
	<button type="submit" name='save' value='Save' class="btn btn-default btn-sm">
	   <span class="glyphicon glyphicon-pencil">Save</span>
	</button>
		<button type="submit" name='cancel' value='Cancel' class="btn btn-default btn-sm">
	   <span class="glyphicon glyphicon-pencil">Cancel</span>
	</button>
{% else %}
	 User tags:<span class='tag'> 
 	{% if page.initialtags %}
 		{% for tag in page.initialtags %}
 			{{ tag }}, 
 		{% endfor %}
 	{% endif %}</span>
<button type="submit" name='edit' value='Edit' class="btn btn-default btn-sm">
   <span class="glyphicon glyphicon-pencil">Edit</span>
</button>
{% endif %}
	</form>

{% if page.result.before_id %}
<a class="navigl" href="/ownsearch/doc={{ page.result.before_id }}&searchterm={{page.searchterm_urlsafe}}"><b>Before</b></a>
{% endif %}
{% if page.result.next_id %}
<a class="navigr" href="/ownsearch/doc={{ page.result.next_id }}&searchterm={{page.searchterm_urlsafe}}"><b>Next</b></a>
{% endif %}

{% endblock %}
{% block embed_content %}
	{% if page.pdf_url%}
	{% if page.embed %}
	<embed src="{{page.pdf_url}}" type="application/pdf" width="100%" height="2400px" />
	{% endif %}{% endif %}
	

{% endblock %}
