{% extends "base.html" %}
{% block content %}

<form action="/ownsearch/" method="post">
    {% csrf_token %}
Index:{{form.CoreChoice}}<p>
{{form.search_term.label}}{{form.search_term}}<p>
Sort by:
{{form.SortType}}
<input type="submit" value="Search" />

{% if resultcount == 0 %}<p>No results for search on "{{searchterm}}" {%endif%}
{% if resultcount == -2 %}<p>Connection error to index (Check Internet connection){%endif%}
{% if results %} <h3>Results</h3>	
<h4>{{resultcount}} results for search on "{{searchterm}}"</h4>

{% for res in results %} 	
<li><a href="/ownsearch/doc={{res.id}}&searchterm={{searchterm}}"><b>{{res.docname }}</b></a>{{res.solrdocsize}}<p>
	{{ res.highlight.0 }}<b>{{ res.highlight.1 }}</b>{{ res.highlight.2 }}
{% endfor %} 
<p>
{% if page > 1 %}<a href="/ownsearch/searchterm={{searchterm}}&backfrompage={{page}}&sorttype={{sorttype}}">back</a> 
{% endif %} 
{% if page > 0 %}
	{% if page < pagemax %}
	<a href="/ownsearch/searchterm={{searchterm}}&nextafterpage={{page}}&sorttype={{sorttype}}">next</a> 
	{% endif %}
	{% endif %}

{% endif %} 
{% endblock %}
