{% extends "base.html" %}

	{% block sidebar %}
	
	<form action="/ownsearch/" method="post">
    {% csrf_token %}
Index:{{form.CoreChoice}}<p>
	      <ul class="sidebar-nav">
	        {% if facets %}
          	Tag scores: (click to filter) 
          		{% for tag,score in facets %}
          			 {% if score != 0 %}
          			 <li><a class='tag' href="/ownsearch/searchterm={{searchterm_urlsafe}}&nextafterpage=0&sorttype={{sorttype}}&tag1={{tag}}">{{ tag }}</a> ({{score}})</li>
          			 {% endif %}
          		{% endfor %}
          {% endif %}
          <br>	          
	        {% if facets2 %}
          	User tags: (click to filter) 
          		{% for tag,score in facets2 %}
          			 {% if score != 0 %}
          			 <li><a class='tag' href="/ownsearch/searchterm={{searchterm_urlsafe}}&nextafterpage=0&sorttype={{sorttype}}&tag2={{tag}}">{{ tag }}</a> ({{score}})</li>
          			 {% endif %}
          		{% endfor %}
          {% endif %}	          
	      </ul>
	{% endblock %}


{% block content %}

{{form.search_term.label}}{{form.search_term}}<p>
<p>
(Accepts wildcards:
'?' for any single character e.g T?p = 'Top','Tip' etc <br>
'*' for many characters e.g T*p='Trump', Trop' etc.<br>
Use double quotes " " to enclose a phrase)

<p>
Sort by:
{{form.SortType}}

<input type="submit" value="Search" />


{% if resultcount == 0 %}<p>No results for search on "{{searchterm}}" {%if tagfilter %}filtered by tag "{{tagfilter}} {%endif%}{%endif%}
{% if resultcount == -2 %}<p>Connection error to index (Check Internet connection){%endif%}
{% if results %} <h3>Results</h3>	
<h4>{{resultcount}} results for search on "{{searchterm}}" {%if tagfilter %}filtered by tag "{{tagfilter}}"{% endif %}{% if page > 1 %}: Page {{page}}{% endif %}</h4>
<!--
{% if facets %}
	Tag scores: (click to filter) 
	{% for tag,score in facets %}
		 {% if score != "0" %}
		 <a class='tag' href="/ownsearch/searchterm={{searchterm_urlsafe}}&nextafterpage=0&sorttype={{sorttype}}&tag1={{tag}}">{{ tag }}</a> ({{score}})
		 {% endif %}
	{% endfor %}
{% endif %}-->
<p>
{% for res in results %} 	
<li>{{res.data.resultnumber}}: <a href="/ownsearch/doc={{res.id}}&searchterm={{searchterm_urlsafe}}"><b>{% if res.docname  %}{{res.docname }}{% else %}No Filename Indexed{% endif %}</b></a> 
	{{res.data.solrdocsize}} {{res.datetext}}
{% if res.data.message_from  %}
<br><b>Message title:</b>{{res.data.title}}<br><b>From:</b> {{res.data.message_from}} <b>To:</b> {{res.data.message_to}}
{% endif %}
{% if res.data.tags1  %}<br>{% for tag in res.data.tags1 %}
	<a class='tag' href="/ownsearch/searchterm={{searchterm_urlsafe}}&nextafterpage=0&sorttype={{sorttype}}&tag1={{tag}}">{{ tag }}</a>
	{% endfor %} {% endif %}<p>
	{{ res.data.highlight.0 }}<b>{{ res.data.highlight.1 }}</b>{{ res.data.highlight.2 }}
{% endfor %} 
<p>
{% if page > 1 %}<a href="/ownsearch/searchterm={{searchterm_urlsafe}}&backfrompage={{page}}&sorttype={{sorttype}}{%if tagfilter %}&tag1={{tagfilter}}{%endif%}">back</a> 
{% endif %} 
{% if page > 0 %}
	{% if page < pagemax %}
	<a href="/ownsearch/searchterm={{searchterm_urlsafe}}&nextafterpage={{page}}&sorttype={{sorttype}}{%if tagfilter %}&tag1={{tagfilter}}{%endif%}">next</a> 
	{% endif %}
	{% endif %}

{% endif %} 
{% endblock %}

