<html>
<style>

h3 {
	color: red 
}
.login {
	position: absolute; top: 0; right: 10; 
	width: 200px; text-align:right;
}
.content {
	font: 20px Georgia;
	line-height:1.5;
}
.titlename {
	font: bold 25px Georgia;
}
.navigl {
    color: red;
    position: absolute;
    left: 100%;
}
.navigr {
    color: red;
    position: absolute;
    right: 100%;
}

.tag {
		color: orange;
		}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.highlight {
    background-color: #FFFF00
}
</style>
