{% extends "documents/filedisplay/base.html" %}

 {% block sidebar %}

<form action="{% url 'listfiles' path=path %}" method ="post">
{% csrf_token %}
Index:{{form.corechoice}}
</form>


</ul>
{% endblock %}
{% block body_content %}


<ol class="breadcrumb">
  <li><a href="/documents/files">Home</a></li>
{% for fullpath,relpath,basename,hash in tags %}  
  <li><a href="/documents/files/{{fullpath}}">{{basename}}</a></li>
{% endfor %} 
</ol>

<p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
		<ul>
		{% for f in subfiles %}
		{{ f }}
		{% endfor %}
		</ul>	
	</div>
</div>
<div class="menu">
  <ul class="menu-options">
    <li class="menu-option">Back</li>
    <li class="menu-option">Reload</li>
    <li class="menu-option">Save</li>
    <li class="menu-option">Save As</li>
    <li class="menu-option">Inspect</li>
  </ul>
</div>
<script>
$('.flip').click(function(e) {
    var $this = $(this);
 //   $(this).parent('span').text("rubbish");
    $this.next('div.subdir').slideToggle('fast');
    $this.toggleClass('show');
    if ($this.hasClass('show')) {
        $this.html('<span style="font-size:8px">[hide}</span>');
    } else {
        $this.html(' +');
};

});

$('.SeeMore2').click(function(){
		var $this = $(this);
		$this.next('div.subdir').slideToggle('fast');
		$this.toggleClass('SeeMore2');
		if($this.hasClass('SeeMore2')){
			$this.text('See More');			
		} else {
			$this.text('See Less');
		};

	});
$('.du').click(function()
	{
	console.log('clicked',this);
	});

//window.oncontextmenu=function()
//{
//alert('right click')
//return false	
//};
//



</script>


{% endblock %}
{% block javascript %}
<script>
const toggleMenu = command => {
  menu.style.display = command === "show" ? "block" : "none";
};

const setPosition = ({ top, left }) => {
  menu.style.left = `${left}px`;
  menu.style.top = `${top}px`;
  toggleMenu('show');
};


window.addEventListener("contextmenu", e => {
  e.preventDefault();
  const origin = {
    left: e.pageX,
    top: e.pageY
  };
  setPosition(origin);
  return false;
});


</script>
{% endblock %}

