
<html>
<style>
.topmenu{
color:red	
}
2

.modal-header .close {
  font-size: 40px; //bigger
}
.collection-folder{
color:white;
background-color:green;
}
.collection-inside{
color:blue;
background-color:grey;
}
.menu {
  width: 400px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: hide;
  color: black;
  background: #e3e9f2;
  opacity: 1;
  
  .menu-options {
    list-style: none;
    padding: 10px 0;

    .menu-option {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

</style>