<html>
<style>

h3 {
	color: red 
}
.login {
	position: absolute; top: 0; right: 100;
	width: 200px; text-align:right;
	color: red;
}
.content {
	font: 20px Georgia;
	line-height:1.5;
}
.titlename {
	font: bold 25px Georgia;
}

.list-group {
	list-style: decimal inside;
}

.list-group-item {
/*      display:inline-block;*/
	display: list-item;
	max-width: 10 px
	border-radius: 5px;
 }
.sender {
		float: left
		}

.time {
		float: right;
		color: #9966ff;
		}

.navigl {
    color: red;
    position: absolute;
    left: 0%;
    font: bold 20px Georgia;
}
.navigr {
    color: red;
    position: absolute;
    left: 90%;
    font: bold 20px Georgia;
}
.message {
		font-size: 16px;
		}

.tag {
		color: orange;
		}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.highlight {
    background-color: #FFFF00
}
</style>
