<html>
<style>

h3 {
	color: red 
}
.login {
	position: absolute; top: 0; right: 250; 
	width: 450px; text-align:right;
}
.content {
	font: 20px Georgia;
	line-height:1.5;
}
.titlename {
	font: bold 25px Georgia;
}
.navigl {
    color: red;
    position: absolute;
    left: 0%;
    font: bold 20px Georgia;
}
.navigr {
    color: red;
    position: absolute;
    left: 90%;
    font: bold 20px Georgia;
}

.tag {
		color: orange;
}

.meta {
		color: blue;
		font-size: 14px;
		}


.message {
		font-size: 16px;
		}

.sender {
		float: left
		}

.time {
		float: right
		}

.attachments
{
		font-size: 14px;
		color: purple;
		}


.radio {
	list-style: none;	
}

.input-sm {
width: 60;
height: 30;	
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.highlight {
    background-color: #FFFF00
}

div.left {
    position: relative;
    padding: 5px 5px 5px 5px;
    left: 0px;
    width: 400px;
    border: 2px solid grey;
    border-radius:5px;
    background: #99ff66;
/*    word-break: break-all;*/
    word-wrap: break-word;
}
div.right {
    position: relative;
    padding: 5px 5px 5px 5px;
    left: 120px;
    width: 400px;
    border: 2px solid grey;
    border-radius:5px;
    background: #cce5ff;
/*    word-break: break-all;
*/    word-wrap: break-word;
}


</style>
