

{% extends "base.html" %}

{% block sidebar %}

<p><p>
	<div class="panel panel-default">
		<h4><b>Master Archive Folder:</b></h4>
		{% if page.masterpath %}
		
		<form action="/dups/folder/{{path}}" method ="post" id="master-folder-form">
		{% csrf_token %}
		<p>
			<div class="master-url">
			<a href="{{page.masterpath_url}}">{{page.masterpath}}</a>
		</div>
		<p>
		<p>
		<button type="submit" class="btn btn-info btn-block" name="masterscan"> Scan Master</button>
    <p><p>
		</form>
		{% endif %} 
	</div>
	<div class="panel panel-default">
		<p><p><p><p>
			<form action="/dups/folder/{{path}}" method ="post" name="scan-folder-form" id="scan-folder-form">
			{% csrf_token %}
			<h4><b>Scan Folder:</b></h4>
			<div class="local-url">
			<a href="/dups/folder/{{page.scanpath}}">{{page.scanpath}}</a>
			</div>
			{% if not page.inside_master %}
					 <input type="hidden" id="local-path" name="local-path" value="{{page.scanpath}}">
  					<button type="submit" name="scan" class="btn btn-success btn-block">Scan Folder</button>
			{% endif %} 
			</form>
	</div>
	</ul>
{% endblock %}

{% block body_content %}

{% if page.inside_master %}
<div style="color:white;background-color:red">INSIDE MASTER ARCHIVE </div>
{% endif %}
<div class='nav-container'>		
		<ol class="breadcrumb bread1" id="{{path}}">
		  <li><a href="/dups">Home</a></li>
		{% for fullpath,relpath,basename,hash in tags %}  
		  <li><a href="/dups/folder/{{fullpath}}">{{basename}}</a></li>
		{% endfor %} 
		</ol>

</div>
 		
				<div class="menu" id="foo" data-id="somepath">
		  		<span class="menu-path"></span>
		  		<p><span class="menu-hash">somehash</span>
 		  			<span class="menu-size">somehash</span>
 		  			<span class="menu-scans">info</span>
 		  			<span class="menu-localscans">info</span>
		  		<ul class="menu-options">
		    		<li class="menu-option scan-folder"><u>Set as Scan Folder</u></li>
		    		<li class="menu-option master-folder"><u>Set as Master Folder</u></li>
		  		</ul>
				</div>	
	
		<p>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
				<ul>
				{% if not subfiles%}
				Empty folder
				{% endif %}
				{% for f in subfiles %}
				{{ f }}
				{% endfor %}
				</ul>	
			</div>
		</div>
{% endblock %}


{% block javascript %}
{% load static %}
<script src="{% static 'js/dups.js' %}">
	</script>

{% endblock %}

