# -*- coding: UTF-8 -*-
#THESE ARE DEFAULT SETTINGS; each section will be overridden by a section with same name in usersettings.config


[Solr]
url: http://localhost:8983/solr/
defaultcoreID: 1

#THIS WILL BECOME THE STANDARD SOLR SETTINGS; CAN BE OVERRRIDDEN
[defaultcore]
name: defaultcore
highlightingargs: &fl=id,extract_id,extract_paths,tika_metadata_last_modified,tika_metadata_content_length,tika_metadata_resourcename&hl.fl=tika_content&hl=on&start=
contentarguments: &fl=id,extract_paths,tika_metadata_last_modified,tika_metadata_resourcename,tika_content,tika_metadata_content_length
rawtext: tika_content
docname: tika_metadata_resourcename
docpath: extract_paths
datefield: tika_metadata_last_modified
docsize: tika_metadata_content_length
docsort: &sort+tika_metadata_resourcename+asc
datesort: &sort+tika_metadata_last_modified+desc
hashcontents: extract_id
cursorargs: &fl=id,extract_id,extract_base_type,tika_metadata_resourcename,tika_metadata_last_modified, extract_paths,extract_parent_paths&sort=id+asc&rows=100


