# -*- coding: UTF-8 -*-
#THESE ARE DEFAULT SETTINGS; each section will be overridden by a section with same name in usersettings.config


[Solr]
url: http://localhost:8983/solr/
defaultcoreID: 1
ignore_list: .*,*.js,*.css
#IGNORE LIST uses Unix-style wildcards; *	matches everything ?	matches any single character [seq]	matches any character in seq [!seq]	matches any character not in seq

[Display]
#set max size of preview text to return (to avoid loading up full text of huge document in browser)
maxcontents: 50000


#THE FOLLOWING ARE STANDARD SETTINGS FOR A SOLR INDEX; can over overridden with the "usersettings.config" file
[defaultcore]
name: defaultcore
highlightingargs: &fl=id,extract_id,extract_paths,tagnames_list,tika_metadata_last_modified,tika_metadata_content_length,tika_metadata_resourcename&hl.fl=tika_content&hl=on&start=
contentarguments: &fl=id,extract_paths,tika_metadata_last_modified,tika_metadata_resourcename,tika_content,tika_metadata_content_length
rawtext: tika_content
docname: tika_metadata_resourcename
docpath: extract_paths
datefield: tika_metadata_last_modified
docsize: tika_metadata_content_length
docsort: &sort+tika_metadata_resourcename+asc
datesort: &sort+tika_metadata_last_modified+desc
hashcontents: extract_id
tags1field: tagnames_list
cursorargs: &fl=id,extract_id,extract_base_type,tika_metadata_resourcename,tika_metadata_last_modified, extract_paths,extract_parent_paths