# -*- coding: UTF-8 -*-
#THESE ARE DEFAULT SETTINGS; each section will be overridden by a section with same name in usersettings.config


[Solr]
url: http://localhost:8983/solr/
defaultcore: coreexample
ignore_list = .*,Thumbs.db,*.mo,*.pyc,
skip_extract = .*,*.js,*.css,*.MOV,*.mov,*.wav,*.WAV,*.exe,*.mp3,*.MP3,*.mp4,*.m4a,*.MP4,*.m4v,*.pyc,Thumbs.db,*.mo,*.pyc,
solrtimeout = 500
maxsize = 5
maxsize_hash=500
timeout = 6

#IGNORE LIST uses Unix-style wildcards; *	matches everything ?	matches any single character [seq]	matches any character in seq [!seq]	matches any character not in seq
#solrtime out is in seconds
#user: solr
#password: SolrRocks
#cert: /path/to/cacert.pem

[Test]
testsearchterm: Trump

[Display]
#set max size of preview text to return (to avoid loading up full text of huge document in browser)
maxcontents: 50000


#THE FOLLOWING ARE STANDARD SETTINGS FOR A SOLR INDEX; can over overridden with the "usersettings.config" file
[defaultcore]
unique_id = extract_id
name = defaultcore
highlightingargs = &fl=id,extract_id,extract_paths,sb_taglist1,sb_meta_only,sb_source,sb_last_modified,title,message_from,message_to,author,sb_size,sb_filename,sb_usertags1, resourcename,sb_parentpath_hash&hl.fl=tika_content&hl=on&start=
contentarguments = &fl=id,extract_id,extract_paths,sb_last_modified,sb_meta_only,sb_filename,sb_taglist1,sb_source,sb_usertags1,tika_content,sb_size,title,message_from,message_to,author,subject,sb_parentpath_hash,content_type
emailmeta = title,message_from,message_to,author,subject
rawtext = tika_content
docname = sb_filename
docnamesource = sb_filename
docnamesource2 = resourcename
docpath = extract_paths
datefield = sb_last_modified
datesourcefield = last_modified_iso8601
datesourcefield2 = last_modified
docsize = sb_size
docsizesourcefield1 = stream_size
docsizesourcefield2 = content_length
docsort = &sort+sb_filename+asc
datesort = &sort+sb_last_modified+desc
doctype = content_type
meta_only=sb_meta_only
hashcontents = extract_id
hashpath = sb_pathhash
parentpath_hash = sb_parentpath_hash
tags1field = sb_taglist1
tags2field = sb_taglist2
tags3field = sb_taglist3
usertags1field = sb_usertags1
beforefield = sb_before
nextfield = sb_next
sourcefield = sb_source
preview_url = sb_preview_url
sequencefield = database_originalID
cursorargs = &fl=id,extract_id,extract_base_type,sb_filename,sb_last_modified,sb_meta_only, extract_paths,extract_parent_paths,content_type