# -*- coding: UTF-8 -*-
#example of user settings


[Extract]
extractpath: /somepath/extract-master/target/extract.jar

[Django]
secretkey: somesecretkey
#it can't cope with % charactrs in key
allowed_hosts: localhost,127.0.0.1
debug: True
#in public-facing server, debug should set as False as debug mode will expose variables and keys
#options for loglevels are DEBUG,INFO,WARNING,ERROR,SEVERE
console_loglevel: INFO
logfile_loglevel: INFO

[Models]
collectionbasepath: /home/ubuntu/somefolder
#path to directories you want to scan


#ONLY THE ABOVE IS NECESSARY: BELOW PROVIDES DETAIL ON SOLR INDEXES; OVERRIDING DEFAULTS
[docscan3]
name: Example name (ICIJextract)
highlightingargs: &fl=id,extract_id,extract_paths,tika_metadata_last_modified,tika_metadata_content_length,tika_metadata_resourcename&hl.fl=tika_content&hl=on&start=
contentarguments: &fl=id,extract_paths,tika_metadata_date,tika_metadata_resourcename,tika_content,tika_metadata_content_length
rawtext: tika_content
docname: tika_metadata_resourcename
docpath: extract_paths
datefield: tika_metadata_date
docsize: tika_metadata_content_length
docsort: &sort+tika_metadata_resourcename+asc
datesort: &sort+tika_metadata_last_modified+desc 
hashcontents: extract_id
cursorargs: &fl=id,extract_id,extract_base_type,extract_paths,extract_parent_paths

#rows is size of the iteration block

#this solr core has been indexed automatially by SearchBox
[docscan1]
name: Example test (autoextract)
highlightingargs: &fl=id,extract_id,date,filename,filepath,stream_size,last_modified,title,author&hl.fl=content&hl=on&start=
contentarguments: &fl=id,filename,filepath,date,content,stream_size
rawtext: content
docname: filename
docpath: filepath
datefield: date
docsort: &sort=filepath+asc
datesort: &sort+last_modified+desc
docsize: stream_size
hashcontents: extract_id
cursorargs: &fl=id,filename,filepath,last_modified
#alternate highlightingargs='&fl=id,extract_id,date,filename,last_modified,title,author&hl.fl=content&hl=on&start='
#alternate contentarguments='&fl=id,date,content'

[mergedbase]
name: example(merged)
highlightingargs: &fl=id,extract_id,extract_paths,tika_metadata_last_modified,tika_metadata_content_length,tika_metadata_resourcename&hl.fl=tika_content&hl=on&start=
contentarguments: &fl=id,extract_paths,tika_metadata_date,tika_metadata_resourcename,tika_content,tika_metadata_content_length
rawtext: tika_content
docname: tika_metadata_resourcename
docpath: extract_paths
datefield: tika_metadata_date
docsize: tika_metadata_content_length
docsort: &sort+tika_metadata_resourcename+asc
datesort: &sort+tika_metadata_last_modified+desc
hashcontents: extract_id
cursorargs: &fl=id,extract_id,extract_base_type,extract_paths,extract_parent_paths